@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");
$color-main: #704c5e;
$color-sub: #bfbccb;
$font-size-big: 36px;
$font-family-eng: "Inconsolata";

// RWD
$pc: 1025px;
$tablet: 1024px;
$mobile: 767px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inconsolata";
  color: $color-main;
}

// .container {
//     width: 1200px;
//     margin: 0 auto;
// }

#navigation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  padding: 10px 120px;
  align-items: center;
  position: fixed;
   /* fix之後寬度會跑掉@@ */
  width: 100%;
  background: #eee;
  z-index: 1;
  @media screen and (min-width: $pc) {
    grid-template-areas: "logo link icon";
  }
  @media screen and (max-width: $tablet) {
    grid-template-areas: "logo icon menu";
  }

  @media screen and (max-width: $mobile){
    padding: 10px 8px;
  }
  

  .logo {
    grid-area: logo;
    text-decoration: none;
    transition: 0.5s;
    font-size: 24px;
    &:hover {
      color: $color-sub;
    }
  }
  #menu {
    grid-area: menu;
    @media screen and (min-width: $pc) {
      display: none;
    }
    @media screen and (max-width: $tablet) {
      display: block;
      margin-left: auto;
    }
  }

  .link {
    grid-area: link;
    // line-height: 40px;
    letter-spacing: 2px;
    padding-left: 2px;
    font-weight: 600;
    a {
      text-decoration: none;
      transition: 0.5s;
      padding-right: 50px;
      &:hover {
        color: $color-sub;
      }
    }
    @media screen and (max-width: $tablet){
      display: none;
    }
  }

  .icon {
    grid-area: icon;
    text-align: right;
    img {
      filter: invert(28%) sepia(46%) saturate(307%) hue-rotate(277deg) brightness(101%) contrast(90%);
      transition: 0.5s;
      width: 32px;
      padding-left: 10px;
      &:hover {
        filter: invert(90%) sepia(11%) saturate(226%) hue-rotate(211deg) brightness(83%) contrast(91%);
      }
    }
    @media screen and (max-width: $mobile){
    padding: 0 2px;
    img {
      padding: 0;
      width: 22px;
    }
    }
  }
}

#banner {
  width: 100%;
  height: 100vh;
  overflow: hidden;
//   background-color: #eee;
  // background-image: url(https://images.unsplash.com/photo-1541450805268-4822a3a774ca?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80);;
//   filter: invert(87%) sepia(18%) saturate(189%) hue-rotate(330deg) brightness(104%) contrast(90%);
  // background-attachment: fixed;
  // background-repeat: no-repeat;
  // background-size: cover;
 
  // .left {
  //     font-size: 36px;
  //   //   display: inline-block;
  //     text-align: left;
  //     margin-left: 200px;
  //     margin-top: 100px;
  // }
  // .right {
  //   font-size: 36px;
  //   text-align: right;
  //   color: pink;
  //   margin-right: 200px;
  //   margin-top: 460px;
  // }
  .dots {
    bottom: 50px;
  }

  @media screen and (max-width: $tablet) {
    height: 100%;
    .slick-track {
      height: 700px;
    }
    img {
      object-fit: cover;
    }
  }

  @media screen and (max-width: $mobile){
    height: 100%;
    .slick-track {
      height: 400px;
    }
    img {
      object-fit: cover;
    }
  }
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}


#about {
  // width: 100vw;
  height: 100vh;
  text-align: center;
  background-color: whitesmoke;
  h2 {
      font-size: 150px;
      font-weight: 200;
      letter-spacing: 10px;
      padding-left: 10px;
      margin-top: 50px;
      transition: 0.5s;
    //   &:hover {
      -webkit-text-stroke: 3px #704c5e;
      -webkit-text-fill-color: transparent;
    //   }
    @media screen and (max-width: $mobile){
      font-size: 64px;
      letter-spacing: 5px;
      padding-left: 5px;
    }
    }
    p {
        margin-bottom: 50px;
        padding: 30px;
    }
}

.title {
  font-size: $font-size-big;
  font-family: $font-family-eng;
  text-align: center;
  padding: 30px 50px;
  opacity: 0.4;
}
.btn {
    margin-top: 20px;
    padding: 10px 20px;
    border: 1px solid #704c5e;
    text-decoration: none;
    transition: 0.3s;
    &:hover {
        color: #bfbccb;
        border: none;
    }
}

#portfolio {
    height: 100vh;
    @media screen and (max-width: $mobile){
      height: auto;
      padding-bottom: 50px;
    }
    text-align: center;
    background-color: snow;  
    .p-box {
        width: 700px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr; //repeat(3, 1fr)
        // grid-template-rows: repeat(2,335px);
        grid-gap: 0 50px;

        @media screen and (max-width: $tablet){

        }
        @media screen and (max-width: $mobile){
          width: 100%;
          grid-template-columns: repeat(1,1fr);
          padding: 0 50px;
        }
    }
    .each-p-box {
        margin-bottom: 20px;
        img {
            display: block;
            width: 100%;
            height: 200px;
            background-position: center;
        }
        span {
            display: inline-block;
            border: 1px solid #704c5e;
            padding: 4px 6px;
            border-radius: 20px;
            font-size: 8px;
            transform: translateX(-75px);
            margin-top: 5px;
        }
        h2 {
            font-size: 20px;
            transform: translateY(-25px);
            
        }
    }
}

footer {
    background-color: #bfbccb;
    padding: 20px 0 10px 0;
    text-align: center;
    .logo {
        display: inline-block;
        margin-bottom: 10px;
        text-decoration: none;
        transition: 0.5s;
        font-size: 24px;
        &:hover {
          color: #eee;
          color: light
        }
    }
    .link {
        // line-height: 40px;
        letter-spacing: 2px;
        padding-left: 2px;
        font-weight: 600;
        margin-bottom: 25px;
        a {
          text-decoration: none;
          transition: 0.5s;
          padding-right: 50px;
          &:hover {
            color: #eee;
          }
        }
        @media screen and (max-width: $mobile){
          display: none;
        }
    }
    .icon {
        margin-bottom: 25px;
        img {
          filter: invert(28%) sepia(46%) saturate(307%) hue-rotate(277deg) brightness(101%) contrast(90%);
          transition: 0.5s;
          width: 36px;
          padding-left: 10px;
          &:hover {
            filter: invert(90%) sepia(11%) saturate(226%) hue-rotate(211deg) brightness(83%) contrast(91%);
            color: #eee;
          }
        }
    }
    p {
        font-size: 14px;
    }
}
// #rightBar {
//   z-index: 9999;
//   width: 50px;
//   position: fixed;
//   right: 10px;
//   bottom: 5%;
//   height: auto;
// }
// #rightBar .botn {
//   width: 50px;
//   height: 50px;
//   text-align: center;
//   line-height: 20px;
//   display: inline-block;
//   border-radius: 10px;
//   cursor: pointer;
// }

#arrow {
  position: fixed;
  right: 15px;
  bottom: 15px;
  height: 32px;
  height: 32px;
  background-color: #bfbccb;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    transform:rotate(-5deg) scale(0.8);
  }
}